<h3>Estadísticas</h3>
<p>
	El número de preguntas <%= preguntas %>
</p>
<p>
	El número de comentarios totales <%= comentarios %>
</p>
<p>
	El número medio de comentarios por pregunta <%= comentarioXpregunta %>
</p>
<p>
	El número de preguntas sin comentarios <%= preguntasSinComentario %>
</p>
<p>
	El número de preguntas con comentarios <%= preguntasConComentario %>
</p>